<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <ul class='navbar'>
      <li class='nav-link'>
        <a href="{{url_for('core.index')}}">Home</a>
      </li>
      <li class='nav-link'>
        <a href="{{url_for('core.info')}}">About</a>
      </li>

      {% if current_user.is_authenticated %}
      <li class='nav-link'>
        <a href="{{url_for_security('logout')}}">Log Out</a>
      </li>
      <!-- <li class='nav-link'>
        <a href="{#{url_for('user.account')}#}">Account</a>
      </li> -->
      <!-- <li class='nav-link'>
        <a href="#">Create Post</a>
      </li> -->
      <li class='nav-link'>
        <a href="{{url_for('players.allplayers')}}">View All Players</a>
      </li>
      <li class='nav-link'>
        <a href="{{url_for('players.newplayer')}}">Add Player</a>
      </li>
      <li class='nav-link'>
        <a href="{{url_for('players.update_or_delete_player')}}">Update or Delete Player</a>
      </li>
      <li class='nav-link'>
        <a href="{{url_for('games.matchinfo')}}">Get Match Info</a>
      </li>
      {% else %}
      <li class='nav-link'>
        <a href="{{url_for_security('login')}}">Login</a>
      </li>
      <li class='nav-link'>
        <a href="{{url_for_security('register')}}">Register</a>
      </li>
      {% endif %}
      {% if current_user.has_role('admin') %}
      <li class='nav-link'>
        <a href="/admin">BTL Database</a>
      </li>
      {% endif %}


    </ul>
    <div class="container">
      {% block content %}

      {% endblock %}

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
